Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

fix(filter): corrects the accessible label (#8069)
  packages/calcite-components/src/components/filter/filter.tsx
Owners: @esri/calcite-components-reviewers

fix(combobox): ensure icon scales are consistent (#8075)
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

test: skip unstable tests (#8085)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Owners: @esri/calcite-components-reviewers

refactor(tabs, tab, tab-nav, tab-title): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7605)
  packages/calcite-components/src/components/tab-nav/readme.md
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-nav/usage/Basic.md
  packages/calcite-components/src/components/tab-title/resources.ts
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tab/resources.ts
  packages/calcite-components/src/components/tab/tab.e2e.ts
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tab/tab.tsx
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
  packages/calcite-components/src/components/tabs/tabs.tsx
Owners: @esri/calcite-components-reviewers

chore: release main (#7997)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package-lock.json
  packages/calcite-design-tokens/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(accordion-item): update expanded chevron color (#8087)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Owners: @esri/calcite-components-reviewers

test(input-time-zone): update screenshot tests to use time zones unaffected by DST (#8094)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
Owners: @esri/calcite-components-reviewers

docs(contributing): add supporting context for new contributors (#8097)
  CONTRIBUTING.md
Owners: @esri/calcite-components-reviewers

ci: automate research spike issue completion (#8098)
  .github/scripts/notifyWhenSpikeComplete.js
  .github/workflows/spike-complete.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(input-time-zone): restore skipped tests (#8093)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(combobox-item): hide disabled item icon (#8095)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Owners: @esri/calcite-components-reviewers

fix(input-time-zone): fix Indian/Christmas time zone translation (#8096)
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(input-number): prevent mutating value when pointerUp is emitted. (#8077)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/tests/utils.ts
Owners: @esri/calcite-components-reviewers

build: add @esri/calcite-components-angular package (#8084)
  .release-please-manifest.json
  package-lock.json
  package.json
  packages/calcite-components-angular/.eslintrc.json
  packages/calcite-components-angular/.gitignore
  packages/calcite-components-angular/README.md
  packages/calcite-components-angular/angular.json
  packages/calcite-components-angular/package-lock.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/LICENSE.md
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-angular/projects/component-library/src/lib/component-library.module.ts
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
  packages/calcite-components-angular/projects/component-library/tsconfig.lib.json
  packages/calcite-components-angular/support/patchEventDetailTypeImports.ts
  packages/calcite-components-angular/support/stencilDoubleBuildTypesWorkaround.sh
  packages/calcite-components-angular/tsconfig.json
  packages/calcite-components-angular/turbo.json
  packages/calcite-components/package.json
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  release-please-config.json
  support/syncLinkedPackageVersions.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci(renovate): run on weekdays and don't pin peerDeps (#8107)
  .renovaterc.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build: update browserslist db (#7667)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: custom ESLint rule to disable sorting for `ref` attribute to keep it as last property in JSX to ensure it is up-to-date (#7669)
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(text-area): fix story markup (#8109)
  packages/calcite-components/src/components/text-area/text-area.stories.ts
Owners: @esri/calcite-components-reviewers

fix(block-section): wraps long text over to a new line when toggle switch is displayed (#8101)
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block/block.stories.ts
Owners: @esri/calcite-components-reviewers

chore(deps-dev): remove unused yargs type (#7996)
  package-lock.json
  package.json
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci: update github actions for new rc base branch (#8122)
  .github/workflows/chromatic-main.yml
  .github/workflows/chromatic-rc.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/pr-tests_eslint-plugin-calcite-components.yml
  package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build: update browserslist db (#8128)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(openClose): add missing awaits to openClose tests (#8127)
  packages/calcite-components/src/tests/commonTests.ts
Owners: @esri/calcite-components-reviewers

ci: update spike complete automation to try removing dev lifecycle label (#8136)
  .github/scripts/notifyWhenSpikeComplete.js
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(split-button): fix width layout (#8133)
  packages/calcite-components/src/components/split-button/resources.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/components/split-button/split-button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
Owners: @esri/calcite-components-reviewers

refactor: improve on enforce-ref-last-prop ESLint rule docs (#8129)
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release next
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(angular): publish from the dist directory (#8151)
  package-lock.json
  packages/calcite-components-angular/projects/component-library/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: drop form-request-submit-polyfill as Safari 16 supports it (#8155)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/utils/form.tsx
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

refactor(responsive): use JS module to create breakpoints lookup object (#8051)
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
  packages/calcite-components/stencil.config.ts
Owners: @esri/calcite-components-reviewers

fix(panel, flow-item): remove overflow rule (#8055)
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/demos/flow-and-panel-action-menu-overflow.html
Owners: @esri/calcite-components-reviewers

ci(rc): cleanup npm scripts for deployment (#8162)
  package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci: additional changes to the next/rc deployment scripts (#8165)
  lerna.json
  package.json
  support/syncLinkedPackageVersions.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(rating): rename functional component dir for consistency (#8164)
  packages/calcite-components/src/components/rating/functional/star.tsx
  packages/calcite-components/src/components/rating/rating.tsx
Owners: @esri/calcite-components-reviewers

feat(date-picker): make component responsive (#7872)
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Owners: @esri/calcite-components-reviewers

feat(pagination): Introduce responsive design for xxsmall breakpoint (#8150)
  packages/calcite-components/.storybook/utils.tsx
  packages/calcite-components/src/components/pagination/assets/pagination/t9n/messages.json
  packages/calcite-components/src/components/pagination/assets/pagination/t9n/messages_en.json
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

build(angular): chage calcite-components to a dep from peerDep/devDep (#8167)
  package-lock.json
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci: fix versioning script async issue that committed too early (#8175)
  package-lock.json
  support/syncLinkedPackageVersions.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(angular): remove event detail types patch by exporting them from the entry point (#8177)
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/patchEventDetailTypeImports.ts
  packages/calcite-components/package.json
  packages/calcite-components/src/index.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

feat(list): Specify the element types in the `calciteListOrderChange` event detail. (#8123)
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/index.ts
Owners: @esri/calcite-components-reviewers
