Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

fix(list-item): Reserve space for empty open lists. (#8239)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Owners: @esri/calcite-components-reviewers

fix(color-picker, popover, shell-panel, slider, tooltip): Register events on the window instead of the document (#8247)
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Owners: @esri/calcite-components-reviewers

test: add token snapshot tests (#8050)
  .vscode/launch.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(combobox): remove invalid css style (#8268)
  packages/calcite-components/src/demos/combobox.html
Owners: @esri/calcite-components-reviewers

fix(button): Sets aria-disabled instead of disabled on internal anchor element (#8270)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
Owners: @esri/calcite-components-reviewers

fix(list): Add live region for dynamically changing list items (#8148)
  packages/calcite-components/src/components/list/assets/list/t9n/messages.json
  packages/calcite-components/src/components/list/assets/list/t9n/messages_en.json
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  t9nmanifest.txt
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(list-item): adds border between last item in a group and slotted item (#8262)
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
Owners: @esri/calcite-components-reviewers

docs(link, loader, modal, notice, panel, select): update usage examples (#8267)
  packages/calcite-components/src/components/link/usage/Basic.md
  packages/calcite-components/src/components/loader/usage/Compact.md
  packages/calcite-components/src/components/modal/usage/Basic.md
  packages/calcite-components/src/components/notice/usage/Basic.md
  packages/calcite-components/src/components/panel/usage/With-action-bar.md
  packages/calcite-components/src/components/panel/usage/With-fab.md
  packages/calcite-components/src/components/select/usage/Basic.md
  packages/calcite-components/src/components/select/usage/Content.md
  packages/calcite-components/src/components/select/usage/Disable.md
  packages/calcite-components/src/components/select/usage/Grouped.md
  packages/calcite-components/src/components/select/usage/Side-by-side.md
  packages/calcite-components/src/components/select/usage/Value.md
Owners: @esri/calcite-components-reviewers

refactor(alert): remove unnecessary CSS declaration (#8256)
  packages/calcite-components/src/components/alert/alert.scss
Owners: @esri/calcite-components-reviewers

feat(action-menu): set max height of the action menu (#8275)
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
Owners: @esri/calcite-components-reviewers

fix(stepper): typo in CSS variable for step bar's fill (#8255)
  packages/calcite-components/src/components/stepper/stepper.scss
Owners: @esri/calcite-components-reviewers

feat(handle): Add disabled property (#8283)
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/handle/handle.stories.ts
  packages/calcite-components/src/components/handle/handle.tsx
Owners: @esri/calcite-components-reviewers

feat(action-menu): support action-groups (#8273)
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action/action.scss
Owners: @esri/calcite-components-reviewers

refactor(input,input-text,input-number): updates `alignmen`t property type (#8289)
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Owners: @esri/calcite-components-reviewers

feat(list-item): Add dragDisabled property (#8285)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

fix(list-item): focus on the first focusable element within the component when using arrow keys (#8291)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/utils/dom.ts
Owners: @esri/calcite-components-reviewers

chore: Add additional notes to sortableComponent. (#8295)
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

fix(combobox, dropdown, input-date-picker, popover, tooltip): fix positioning of component when component is moved (#8296)
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Owners: @esri/calcite-components-reviewers

test(spec): resolve jsdom type errors (#8300)
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/globalAttributes.spec.ts
Owners: @esri/calcite-components-reviewers

docs(shell-panel): remove incorrect information from heightScale prop (#8302)
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Owners: @esri/calcite-components-reviewers

feat(list): support multiple selection using the shift key (#8301)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#8260)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(input-time-zone): update time zone items when item-dependent props change (#8271)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Owners: @esri/calcite-components-reviewers

feat(combobox, checkbox, input-time-zone, select, text-area): add `status` property (#8304)
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/checkbox/checkbox.stories.ts
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/checkbox.html
Owners: @esri/calcite-components-reviewers

fix(label): associate label to component when `for` prop is set after initialization (#8309)
  packages/calcite-components/src/components/label/label.tsx
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/label.ts
Owners: @esri/calcite-components-reviewers

ci(lerna, markdownlint): fix changelog linting issue on pre-commit
  .lintstagedrc.json
  support/syncLinkedPackageVersions.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(deps)!: bump Stencil to v4 (#8108)
  package-lock.json
  package.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchJSXImport.ts
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/icon/utils.spec.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/iconPathDataStub.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  packages/calcite-components/support/patchTreeShaking.ts
  packages/calcite-components/tsconfig-eslint.json
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

test(tokens): skip outdated tests
  packages/calcite-design-tokens/support/tests/index.spec.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: resolve globby error in prebuild t9n types script
  package-lock.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/support/generateT9nTypes.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

feat: add json to design token output (#8290)
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/setTokenNameByPlatform.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/platform.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(dropdown): restore trigger container height
  packages/calcite-components/src/components/dropdown/dropdown.scss
Owners: @esri/calcite-components-reviewers

refactor(core tokens): split core tokens into groups (#8279)
  packages/calcite-design-tokens/src/core/box-shadow.json
  packages/calcite-design-tokens/src/core/color.json
  packages/calcite-design-tokens/src/core/container-size.json
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/core/opacity.json
  packages/calcite-design-tokens/src/core/sizing.json
  packages/calcite-design-tokens/src/core/stacking.json
  packages/calcite-design-tokens/src/index.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

feat: update json shape for docs (#8308)
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/setTokenNameByPlatform.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/platform.ts
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

fix(button, list, pick-list, value-list)!: prevent loading prop from affecting interactivity (#8292)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/pick-list/pick-list.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/value-list/value-list.e2e.ts
Owners: @esri/calcite-components-reviewers

build: use `enableImportInjection` extras config option instead of the deprecated `experimentalImportInjection` (#8200)
  packages/calcite-components/stencil.config.ts
Owners: @esri/calcite-components-reviewers

feat!: update default main file output for design tokens (#8299)
  packages/calcite-design-tokens/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(modal)!: rename `width` property to `widthScale` (#8252)
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
Owners: @esri/calcite-components-reviewers

test(tokens): fix token platform output shape tests (#8298)
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

docs(modal): update fullscreen context to updated widthScale prop (#8313)
  packages/calcite-components/src/components/modal/modal.tsx
Owners: @esri/calcite-components-reviewers

feat(stepper): enable responsive layout (#7744)
  packages/calcite-components/src/components/stepper/stepper.scss
Owners: @esri/calcite-components-reviewers

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem
