Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

chore(tokens): update outdated token names and imports
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/stepper/stepper.scss
Owners: @esri/calcite-components-reviewers

refactor(i18n)!: reduce list of supported numbering systems (#8217)
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/demos/_assets/locales.ts
  packages/calcite-components/src/demos/date-picker.html
  packages/calcite-components/src/utils/locale.ts
Owners: @esri/calcite-components-reviewers

chore(tokens): resolve outdated token name usage
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/readme.md
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#8218)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(dropdown)!: change display to inline-block to ease truncation setup (#8253)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Owners: @esri/calcite-components-reviewers

fix(react)!: disable includeImportCustomElements to resolve initial render issues (#8248)
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchSSR.ts
  packages/calcite-components/stencil.config.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

chore(jest, turbo): resolve test run failures (#8209)
  packages/calcite-components/stencil.config.ts
  turbo.json
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

fix(list-item): adds border between grouped and ungrouped list-items (#8134)
  packages/calcite-components/src/components/list/list.scss
Owners: @esri/calcite-components-reviewers

build(deps): bump stencil-eslint-core
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(card)!: remove deprecated `deselected` message (#8099)
  packages/calcite-components/src/components/card/assets/card/t9n/messages.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_en.json
  packages/calcite-components/support/generateT9nDocsJSON.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: drop unnecessary double build type workaround since components.d.ts is now tracked (#8199)
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/stencilDoubleBuildTypesWorkaround.sh
  packages/calcite-components/package.json
  packages/calcite-components/support/buildForPreambleVersion.sh
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(dropdown)!: rename `width` property to `widthScale` (#8251)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/demos/dropdown.html
Owners: @esri/calcite-components-reviewers

build(deps): bump @stencil/core (#8213)
  package-lock.json
  packages/calcite-components-angular/package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release main (#8246)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(deploy-latest): use volta's pinned node version (#8323)
  .github/workflows/deploy-latest.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(deploy-latest): hardcode node v18 (#8324)
  .github/workflows/deploy-latest.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build: update browserslist db (#8326)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(dropdown-item): add disabled support (#8312)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Owners: @esri/calcite-components-reviewers

build(node): bump volta's pinned version to node v18.18.2 (#8328)
  package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(demos): update outdated CSS variable names after token breaking changes (#8333)
  packages/calcite-components/src/demos/_assets/demos.css
  packages/calcite-components/src/demos/list.html
Owners: @esri/calcite-components-reviewers

fix(action-menu): Filter hidden or disabled actions via keyboard. (#8336)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Owners: @esri/calcite-components-reviewers

chore(dropdown): update demo page to use selected vs active (removed) (#8322)
  packages/calcite-components/src/demos/dropdown.html
Owners: @esri/calcite-components-reviewers

fix(shell, shell-panel): support resizing shell panel when there is an iframe slotted in shell content (#8317)
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.tsx
Owners: @esri/calcite-components-reviewers

fix(action-menu): fix closing action menu after a drag occurs (#8339)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Owners: @esri/calcite-components-reviewers

refactor(dropdown): remove obsolete logic (#8321)
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Owners: @esri/calcite-components-reviewers

test(dropdown): fix dropdown E2E suite grouping (#8319)
  packages/calcite-components/conventions/Styling.md
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(color-context tokens): only apply when `.calcite-mode-auto` is applied (#8344)
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(input, input-number, input-text): avoid redundant `:host` (#8163)
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-design-tokens/support/types/styleDictionary/registerFunctions.ts
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

ci: remove workarounds no longer needed with Stencil v4 (#8325)
  .github/workflows/deploy-next.yml
  packages/calcite-components/package.json
  packages/calcite-components/support/buildForPreambleVersion.sh
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci: stop formatting components.d.ts (#8358)
  .prettierignore
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/src/components.d.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(shell-panel): adds border at the start when slotted in `panel-end` (#8314)
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Owners: @esri/calcite-components-reviewers

fix(input-date-picker): no longer emits redundant change event (#8341)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Owners: @esri/calcite-components-reviewers

feat: provide legacy CSS custom props for backwards compatibility (#8355)
  packages/calcite-components/src/assets/styles/_legacy.scss
  packages/calcite-components/src/assets/styles/global.scss
Owners: @esri/calcite-components-reviewers

ci(next): install deps before running npm scripts (#8370)
  .github/workflows/deploy-next.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix: replace "\n" to support Windows for tokens output (#8352)
  package-lock.json
  package.json
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/css.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/scss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci(eslint): disable eslint rules that are failing (#8372)
  packages/calcite-components/.eslintrc.cjs
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(list): Add `calciteListDragStart` and `calciteListDragEnd` events for when a drag starts and ends. (#8361)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

fix(list-item): drag grid cell should be accessible via arrow keys. (#8353)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
Owners: @esri/calcite-components-reviewers

test(tab-nav): stabilize test (#8356)
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
Owners: @esri/calcite-components-reviewers

build: swap ts-node for tsx (#8196)
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem
