Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

fix(dropdown-item): provides accessible label when href is not parsed (#7316)
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Owners: @esri/calcite-components-reviewers

fix(input-date-picker): provides placeholder text context for AT users (#7320)
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages.json
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages_en.json
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

chore: add editorconfig (#7318)
  .editorconfig
  .prettierrc.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(eslint): disable jsdoc/require-param-type rule in favor of typescript (#7326)
  packages/calcite-components/.eslintrc.cjs
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci: modifies design complete workflow to ready for dev (#7300)
  .github/workflows/ready-for-dev.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build: update browserslist db (#7324)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(input-time-picker): stabilize tests that update the lang and numberingSystems (#7283)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Owners: @esri/calcite-components-reviewers

test(block): disable loader animation in chromatic snapshots (#7333)
  packages/calcite-components/src/components/block/block.stories.ts
Owners: @esri/calcite-components-reviewers

ci: notify teams about calcite-components releases only (#7317)
  .github/workflows/notify-teams-release_calcite_components.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(color-picker): maintains correct numbering system when entering invalid RGB value (#7327)
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
Owners: @esri/calcite-components-reviewers

chore: drop Airtable syncing action (#7340)
  .github/workflows/sync_to_airtable.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: remove references to removed cleanup script (#7339)
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

docs: add warning notice to internal storybook (#7338)
  packages/calcite-components/.storybook/main.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(tooltip): ensure --calcite-app-z-index-tooltip is applied (#7345)
  packages/calcite-components/calcite-preset.ts
Owners: @esri/calcite-components-reviewers

fix(link): adds outline-offset to avoid overlapping with text. (#7342)
  packages/calcite-components/src/components/link/link.scss
Owners: @esri/calcite-components-reviewers

feat: allow sharing focus trap stacks via configuration global (#7334)
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Owners: @esri/calcite-components-reviewers

docs: add more chromatic/storybook info (#7337)
  CONTRIBUTING.md
Owners: @esri/calcite-components-reviewers

ci(chromatic): disable animations globally to prevent false positive visual diffs (#7348)
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/loader/loader.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/progress/progress.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

refactor(alert, dropdown): `onToggleOpenCloseComponent` replaces connect logic (#7356)
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Owners: @esri/calcite-components-reviewers

refactor(combobox): `onToggleOpenCloseComponent` replaces connect logic (#7361)
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

feat(action-group): Adds overlayPositioning property. (#7366)
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.tsx
Owners: @esri/calcite-components-reviewers

refactor(tooltip, popover, input-date-picker): `onToggleOpenCloseComponent` replaces connect logic (#7358)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Owners: @esri/calcite-components-reviewers

refactor(modal): use inline style to set overflow instead of a class (#7347)
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/modal/resources.ts
Owners: @esri/calcite-components-reviewers

refactor: clean up global stylesheets (#7377)
  packages/calcite-components/src/assets/styles/_animation.scss
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/assets/styles/global.scss
Owners: @esri/calcite-components-reviewers

build: export types so the ccr build patch can be removed (#7362)
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchImportPathJSX.ts
  packages/calcite-components/src/index.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(list): fix keyboard navigation when filterEnabled is true (#7385)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Owners: @esri/calcite-components-reviewers

chore: fix typos (#7360)
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/menu/menu.stories.ts
  packages/calcite-components/src/components/notice/notice.stories.ts
  packages/calcite-components/src/components/pick-list/pick-list.stories.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/utils/number.spec.ts
Owners: @esri/calcite-components-reviewers

refactor: rename supported locale type (#7359)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/locale.ts
Owners: @esri/calcite-components-reviewers

refactor: rename remaining intl props from interface (#7352)
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Owners: @esri/calcite-components-reviewers

feat(menu-item): Update spacing and icon layout (#7381)
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/menu/menu.stories.ts
  packages/calcite-components/src/demos/menu.html
Owners: @esri/calcite-components-reviewers

fix(menu-item): Prevent duplicate border in nested vertical menu-items (#7387)
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu/menu.stories.ts
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#7363)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(combobox): fix method name casing (#7388)
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

feat(switch): updates focus outline to be rounded (#7390)
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/switch/switch.stories.ts
Owners: @esri/calcite-components-reviewers

feat(color-picker): replaces thumb focus outline to rounded (#7378)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
Owners: @esri/calcite-components-reviewers

fix(color-picker): fix opacity slider keyboard nudging (#7400)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Owners: @esri/calcite-components-reviewers

fix(switch): Fix for focus outline style in certain cases (#7414)
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/switch/switch.stories.ts
Owners: @esri/calcite-components-reviewers

fix(chip): disconnect mutation observer when component is disconnected from the DOM (#7418)
  packages/calcite-components/src/components/chip/chip.tsx
Owners: @esri/calcite-components-reviewers

feat(text-area): provide additional context for AT users when character limit exceeds (#7412)
  packages/calcite-components/src/components/text-area/resources.ts
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/text-area/text-area.tsx
Owners: @esri/calcite-components-reviewers

fix(scrim): update loader scale on resize of component. (#7419)
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
  packages/calcite-components/src/demos/scrim.html
Owners: @esri/calcite-components-reviewers
