Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

docs(modal): update usage file with correct prop (#7504)
  packages/calcite-components/src/components/modal/usage/Open.md
Owners: @esri/calcite-components-reviewers

docs(storybook): add list dragEnabled knob and modify stories (#7508)
  packages/calcite-components/src/components/list/list.stories.ts
Owners: @esri/calcite-components-reviewers

fix(scrim): render text content inside scrim (#7509)
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.stories.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Owners: @esri/calcite-components-reviewers

fix(block): defaults the status icon to `scale=s` (#7503)
  packages/calcite-components/src/components/block/block.tsx
Owners: @esri/calcite-components-reviewers

fix(combobox): prevents navigation list with Space key (#7505)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

test(input-time-zone): unskip test (#7456)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Owners: @esri/calcite-components-reviewers

fix(progress): completes animation for `dir='rtl'` (#7511)
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/progress/progress.tsx
Owners: @esri/calcite-components-reviewers

test(tooltip): unskip tests (#7427)
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(tree): selects all child items when selection-mode is set to ancestors (#7518)
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Owners: @esri/calcite-components-reviewers

fix: prevent vitetest/ssr errors due to defining components on the server (#7521)
  packages/calcite-components-react/package.json
  packages/calcite-components-react/src/auto-define.ts
  packages/calcite-components-react/support/patchSSR.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(button,card,fab,inline-editable): provides context to AT users when loading (#7257)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.tsx
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#7514)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(slider): rerender ticks when prop is modified (#7439)
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
Owners: @esri/calcite-components-reviewers

chore: release main (#7485)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test: skip unstable tests (#7524)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Owners: @esri/calcite-components-reviewers

refactor(shell-panel): Remove usage of getSlotted utility. #6059 (#7465)
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Owners: @esri/calcite-components-reviewers

refactor(action-bar, action-pad, action-group): Remove usage of getSlotted utility (#7464)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Owners: @esri/calcite-components-reviewers

fix(action-bar): restore "bottom-actions" slot functionality. (#7535)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/resources.ts
Owners: @esri/calcite-components-reviewers

chore: add `directory` to package.json `repository` property (#7510)
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(pr-bot): add write permissions for pull requests (#7517)
  .github/actions/assignPullRequestAuthor.js
  .github/actions/labelPullRequestWithCommitType.js
  .github/workflows/pr-bot.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(linting): enable one-var rule (#7528)
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/color-picker/utils.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix: fix open/close event emitting in Safari (#7551)
  packages/calcite-components/src/utils/openCloseComponent.ts
Owners: @esri/calcite-components-reviewers

chore: release main (#7539)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix: ensure label only focuses the first labelable child (#7553)
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/label.spec.ts
  packages/calcite-components/src/utils/label.ts
Owners: @esri/calcite-components-reviewers

fix(color-picker): update value when alphaChannel is toggled (#7563)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Owners: @esri/calcite-components-reviewers

fix(list): fixes dragging nested list items (#7555)
  packages/calcite-components/src/components/list/list.tsx
Owners: @esri/calcite-components-reviewers

feat(meter): Add Meter component (#7401)
  packages/calcite-components/.storybook/preview-head.html
  packages/calcite-components/src/components/meter/interfaces.ts
  packages/calcite-components/src/components/meter/meter.e2e.ts
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/meter/readme.md
  packages/calcite-components/src/components/meter/resources.ts
  packages/calcite-components/src/components/meter/usage/Advanced.md
  packages/calcite-components/src/components/meter/usage/Basic.md
  packages/calcite-components/src/demos/meter.html
  packages/calcite-components/src/index.html
  packages/calcite-components/stencil.config.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(input-date-picker, input-time-picker): do not show dropdown affordance when read-only (#7559)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Owners: @esri/calcite-components-reviewers

fix(dropdown): prevents navigating dropdown items with Tab key (#7527)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#7554)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(date-picker): set start of week to monday in zh-CN (#7578)
  packages/calcite-components/src/components/date-picker/assets/date-picker/nls/zh-CN.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(combobox, combobox-item, combobox-group): `getElementProp` is refactored out across child components as an outdated pattern in favor of inheritable props set directly on parent (#7562)
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

fix(chip-group): Add existence checks (#7586)
  packages/calcite-components/src/components/chip-group/chip-group.tsx
Owners: @esri/calcite-components-reviewers

fix(tree-item): move focus outline to item label area (#7581)
  packages/calcite-components/src/components/tree-item/tree-item.scss
Owners: @esri/calcite-components-reviewers

fix(modal): handle removal of open attribute and prevent multiple beforeClose calls (#7470)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.tsx
Owners: @esri/calcite-components-reviewers

test(modal, shell): add delay to recent unstable stories (#7589)
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Owners: @esri/calcite-components-reviewers

feat(action-bar, action-pad, action-group): Add label properties for group context (#7415)
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/usage/With-grouping.md
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-group/resources.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/usage/With-grouping.md
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/demos/action.html
Owners: @esri/calcite-components-reviewers

fix(segmented-control): refresh items when added dynamically (#7567)
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Owners: @esri/calcite-components-reviewers

fix(split-button): update divider and borders to follow design spec (#7568)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/components/split-button/split-button.stories.ts
Owners: @esri/calcite-components-reviewers

fix(combobox): update combobox height to follow design spec (#7558)
  packages/calcite-components/src/components/combobox/combobox.scss
Owners: @esri/calcite-components-reviewers
