Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

chore: release main (#7945)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(flow-item): update collapsed property when collapse button is clicked (#7960)
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Owners: @esri/calcite-components-reviewers

build: bump timezone-groups (#7962)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(table): Improve scrollbar display (#7967)
  packages/calcite-components/src/components/table/table.scss
Owners: @esri/calcite-components-reviewers

fix(input-time-zone): fix error caused by time zone group filtering (#7971)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Owners: @esri/calcite-components-reviewers

test(input-time-zone): restore common tests (#7963)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Owners: @esri/calcite-components-reviewers

fix(input-time-zone): allow searching offsets by Etc/x time zone (#7978)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci: don't link design-token version to CC version (#7983)
  support/syncLinkedPackageVersions.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release main (#7961)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat: add xxs breakpoint to tokens (#7992)
  packages/calcite-design-tokens/src/core.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor: modify drag-enabled styling on supported components (#7879)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/list-item/list-item.scss
Owners: @esri/calcite-components-reviewers

chore: add @esri/calcite-design-tokens to issue templates (#7987)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor: extract icon scale adjustment logic into utility function (#7973)
  my-con
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
Owners: @esri/calcite-components-reviewers

fix: floating components will now get an initial position even if they are not opened (#8001)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Owners: @esri/calcite-components-reviewers

fix(stepper): selects next enabled stepper-item when first one is disabled (#8004)
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Owners: @esri/calcite-components-reviewers

fix(icon): use pixel sizes for icons (#8009)
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/icon/icon.stories.ts
Owners: @esri/calcite-components-reviewers

feat(stepper,stepper-item): adds support for built-in translations (#8002)
  packages/calcite-components/src/components/stepper-item/stepper-item.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Owners: @esri/calcite-components-reviewers

refactor(stepper): disconnects observer when component is disconnected (#8013)
  packages/calcite-components/src/components/stepper/stepper.tsx
Owners: @esri/calcite-components-reviewers

docs(segmented-control): removes grid option from layout (#8019)
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Owners: @esri/calcite-components-reviewers

fix(pagination): prevents console error when page-size is set to zero (#8017)
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
Owners: @esri/calcite-components-reviewers

feat(block): ensure chevron is always displayed (#8014)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Owners: @esri/calcite-components-reviewers

chore(markdownlint): fix path to gitignore in design-tokens (#7999)
  packages/calcite-design-tokens/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: remove empty file (#8034)
  my-con
Owners: @esri/calcite-components-reviewers

fix(input-date-picker, input-time-picker): adjust chevron scale accordingly (#8012)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Owners: @esri/calcite-components-reviewers

fix(button, fab, inline-editable, split-button): prevent redundant opacity when button is both loading and disabled (#8015)
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/fab/fab.stories.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.stories.ts
  packages/calcite-components/src/components/split-button/split-button.stories.ts
Owners: @esri/calcite-components-reviewers

fix(segmented-control-item): fix text color contrast (#8036)
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
Owners: @esri/calcite-components-reviewers

test(combobox): add test for filter being cleared if there's a delay between pointer down and up (#8045)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(list-item): restore tabbability when an item's disabled prop is toggled (#8042)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/utils/interactive.ts
Owners: @esri/calcite-components-reviewers

feat: add icon tokens (#8008)
  packages/calcite-design-tokens/src/$themes.json
  packages/calcite-design-tokens/src/component/icon.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat: add js platform formats to calcite-design-tokens (#8044)
  package-lock.json
  package.json
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/support/token-transformer/format/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: align expected node engine with volta (#7998)
  CONTRIBUTING.md
  package.json
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

feat: reorganize breakpoints (#7994)
  packages/calcite-design-tokens/src/core.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(responsive): add xxs breakpoint prop (#8041)
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
  support/dictionaries/dict-calcite-design-system.txt
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

refactor(button, scrim): ensure ref is set last so attrs/props are in sync (#8052)
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/scrim/scrim.tsx
Owners: @esri/calcite-components-reviewers

feat(navigation-logo): Adds `icon` and `iconFlipRtl` properties (#8054)
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-logo/resources.ts
  packages/calcite-components/src/demos/navigation.html
Owners: @esri/calcite-components-reviewers

refactor(xbutton): extract icon scale from utility function (#8056)
  packages/calcite-components/src/components/functional/XButton.tsx
Owners: @esri/calcite-components-reviewers

test(block): Add screenshot test for long Block and Block Section props (#8066)
  packages/calcite-components/src/components/block/block.stories.ts
Owners: @esri/calcite-components-reviewers

docs(contributing): add design estimates (#8068)
  CONTRIBUTING.md
Owners: @esri/calcite-components-reviewers

fix(input-time-zone): fix city translations (#8058)
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(combobox): clear custom input value on blur (#8070)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers
