Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

feat(list): Add support for dragging items. (#7109)
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_en.json
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/interfaces.d.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/components/list/usage/DragEnabled.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(panel): Remove double border styling when content isn't provided (#7368)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Owners: @esri/calcite-components-reviewers

chore(storybook): hide warning and show TestOnly stories in local builds (#7424)
  packages/calcite-components/.storybook/helpers.ts
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(tooltip): avoid extra before open/close event emitting (#7422)
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(slider): prevent excessive tick rendering (#7421)
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
Owners: @esri/calcite-components-reviewers

fix(color-picker): draw slider thumbs within bounds (#7398)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
  packages/calcite-components/src/utils/math.spec.ts
  packages/calcite-components/src/utils/math.ts
Owners: @esri/calcite-components-reviewers

test(input, input-number): await on missed `page.waitForChanges` calls (#7429)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
Owners: @esri/calcite-components-reviewers

feat(block): improve block's content layout to allow scrolling (#7367)
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
Owners: @esri/calcite-components-reviewers

fix(tooltip): emits `close` and `beforeClose` events when container is set to `display:none` (#7258)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Owners: @esri/calcite-components-reviewers

fix(combobox): add space after grouped items (#7302)
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

chore: release next
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release latest (#7261)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

docs(changelog): modify changelog for text-area description context (#7443)
  packages/calcite-components/CHANGELOG.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(panel): Correct header and action-bar z-indexing display issues (#7440)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Owners: @esri/calcite-components-reviewers

fix(panel): Add native tooltip to close button. (#7434)
  packages/calcite-components/src/components/panel/panel.tsx
Owners: @esri/calcite-components-reviewers

fix(flow-item): Use a native tooltip for the back button (#7442)
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Owners: @esri/calcite-components-reviewers

test(input-time-zone): Skip unstable test. (#7449)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(action-bar, action-pad): Add native tooltip to expand action (#7452)
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Owners: @esri/calcite-components-reviewers

chore: improve test failure messaging for defaults and reflects helpers (#7455)
  packages/calcite-components/src/tests/commonTests.ts
Owners: @esri/calcite-components-reviewers

fix: fix SSR build error caused by browser-sniffing util (#7461)
  packages/calcite-components/src/utils/browser.ts
Owners: @esri/calcite-components-reviewers

fix(panel): Allow panel content to take full height. (#7454)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Owners: @esri/calcite-components-reviewers

fix(list): Add missing drag handle locale strings (#7462)
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ar.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_bg.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_bs.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ca.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_cs.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_da.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_de.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_el.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_es.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_et.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_fi.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_fr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_he.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_hr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_hu.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_id.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_it.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ja.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ko.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_lt.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_lv.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_nl.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_no.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_pl.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ro.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ru.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sk.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sl.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sv.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_th.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_tr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_uk.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_vi.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_zh-TW.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: update additional instances of old branch and repo names (#7444)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/workflows/deploy-latest.yml
  .husky/pre-push
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/support/stencilDoubleBuildTypesWorkaround.sh
  packages/eslint-plugin-calcite-components/rollup.config.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci: remove duplicate action for notifying teams about releases (#7441)
  .github/workflows/teams-release-msg.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(release-please): use default pull request title (#7446)
  release-please-config.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(accordion): restore accordion-items working with accordion across shadow DOM (#7466)
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.tsx
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#7467)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(input-time-zone): ensure time zone options are captured in the screenshot (#7392)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
Owners: @esri/calcite-components-reviewers

fix(input): fix clearable from throwing an error when value is undefined (#7476)
  packages/calcite-components/src/components/input/input.tsx
Owners: @esri/calcite-components-reviewers

chore(accordion-item): add more info about accordion item sync (#7473)
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
Owners: @esri/calcite-components-reviewers

fix(slider): numbers remain on one line for locales with space group separators (#7472)
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/utils/locale.ts
  packages/calcite-components/src/utils/number.spec.ts
Owners: @esri/calcite-components-reviewers

chore: release main (#7447)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci: modify ready for dev label name (#7463)
  .github/workflows/ready-for-dev.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(action-bar): add "actions-end" slot (deprecates "bottom-actions") (#7435)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-bar/resources.ts
  packages/calcite-components/src/components/action-bar/usage/Actions-end.md
  packages/calcite-components/src/components/action-bar/usage/Bottom-actions.md
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/resources.ts
  packages/calcite-components/src/components/shell/readme.md
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/demos/action.html
  packages/calcite-components/src/demos/mode/auto.html
  packages/calcite-components/src/demos/panel.html
  packages/calcite-components/src/demos/shell-panel.html
  packages/calcite-components/src/demos/shell/block-configurations.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-2-shell-header.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-2.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-3.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row-async.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row.html
  packages/calcite-components/src/demos/shell/demo-app-advanced.html
  packages/calcite-components/src/demos/shell/demo-app-blank.html
  packages/calcite-components/src/demos/shell/demo-app-center-row-action-bar.html
  packages/calcite-components/src/demos/shell/demo-app-full-window-reversed.html
  packages/calcite-components/src/demos/shell/demo-app-full-window.html
  packages/calcite-components/src/demos/shell/nesting-testing-flow.html
  packages/calcite-components/src/demos/shell/nesting-testing.html
  packages/calcite-components/src/demos/shell/popup-config-example.html
  packages/calcite-components/src/demos/shell/resizable-panels.html
Owners: @esri/calcite-components-reviewers

ci: ensure vscode-data is generated during every build (#7480)
  .github/workflows/deploy-latest.yml
  packages/calcite-components/support/stencilDoubleBuildTypesWorkaround.sh
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(scrim): handle slotted children correctly (#7477)
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Owners: @esri/calcite-components-reviewers

fix(chip-group): Add existence checks (#7487)
  packages/calcite-components/src/components/chip-group/chip-group.tsx
Owners: @esri/calcite-components-reviewers

fix(panel): Fix heading border when only text content is slotted (#7491)
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Owners: @esri/calcite-components-reviewers

ci(deploy-latest): hardcode node version to prevent errors (#7506)
  .github/workflows/deploy-latest.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(dom): Add additional dom utilities for slot changes (#7497)
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Owners: @esri/calcite-components-reviewers
