Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

chore(demo): fix missed rename for custom-item-selectors attr (#7653)
  packages/calcite-components/src/demos/flow.html
Owners: @esri/calcite-components-reviewers

docs(pick-list-item): drop reference to removed prop (#7657)
  packages/calcite-components/src/components/pick-list-item/readme.md
Owners: @esri/calcite-components-reviewers

ci(actions): move javascript code to separate files (#7548)
  .github/scripts/.eslintrc.json
  .github/scripts/addCalcitePackageLabel.js
  .github/scripts/addEsriProductLabel.js
  .github/scripts/addPriorityLabel.js
  .github/scripts/assignForVerification.js
  .github/scripts/assignPullRequestAuthor.js
  .github/scripts/changeMilestone.js
  .github/scripts/closeMilestone.js
  .github/scripts/createMilestone.js
  .github/scripts/labelPullRequestWithCommitType.js
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/scripts/notifyAboutNewComponent.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/readme.md
  .github/scripts/validatePullRequestTitle.js
  .github/workflows/add-esri-product-label.yml
  .github/workflows/add-package-label.yml
  .github/workflows/add-priority-label.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/create-milestone.yml
  .github/workflows/new-component-notify.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-untruncated.yml
  .github/workflows/ready-for-dev.yml
  .lintstagedrc.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

docs(table): Improve slot documentation (#7663)
  packages/calcite-components/src/components/table/table.tsx
Owners: @esri/calcite-components-reviewers

fix(sheet): Update shadow style in display-mode="float" (#7664)
  packages/calcite-components/src/components/sheet/sheet.scss
Owners: @esri/calcite-components-reviewers

fix(table): Allow wrapping text in table-header and table-cell (#7665)
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table/table.stories.ts
Owners: @esri/calcite-components-reviewers

test(combobox): add open in all scales screenshot test (#7660)
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Owners: @esri/calcite-components-reviewers

fix(input-time-zone): prevent items from being deselected (#7661)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Owners: @esri/calcite-components-reviewers

feat(flow): split up custom flow item interfaces (#7666)
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/flow/interfaces.ts
Owners: @esri/calcite-components-reviewers

fix(time-picker): focus corresponding input when nudge buttons are clicked (#7650)
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Owners: @esri/calcite-components-reviewers

fix(input-date-picker): apply default numbering system to avoid browser inferring from locale (#7682)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Owners: @esri/calcite-components-reviewers

chore(locale): add extra info to default numbering system export (#7683)
  packages/calcite-components/src/utils/locale.ts
Owners: @esri/calcite-components-reviewers

fix(list-item): Do not call preventDefault on enter key within slotted actions (#7684)
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Owners: @esri/calcite-components-reviewers

fix(modal): calciteModalClose should emit on close button click (#7680)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
  packages/calcite-components/src/utils/openCloseComponent.ts
Owners: @esri/calcite-components-reviewers

fix(sheet): calciteSheetClose should emit on scrim click (#7685)
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
Owners: @esri/calcite-components-reviewers

fix(list): remove unnecessary z-index (#7678)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.scss
Owners: @esri/calcite-components-reviewers

fix: resolve vite errors due to using expressions in dynamic imports (#7671)
  packages/calcite-components-react/src/auto-define.ts
  packages/calcite-components-react/support/patchSSR.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(action-group): Honor flex-grow on slotted actions (#7690)
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Owners: @esri/calcite-components-reviewers

chore: release main (#7654)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: adds headless sass vars in includes for component usage. (#7700)
  packages/calcite-components/src/assets/styles/includes.scss
Owners: @esri/calcite-components-reviewers

chore: remove breakpoints css (#7699)
  packages/calcite-components/src/assets/styles/_breakpoints.scss
Owners: @esri/calcite-components-reviewers

chore: add responsive module (#7716)
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
Owners: @esri/calcite-components-reviewers

fix(combobox): fix filtering to avoid showing unrelated items (#7704)
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

fix(combobox): clears input value on blur (#7721)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

chore: fix launch config to work with the monorepo
  .vscode/launch.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: add spaces around link inside storybook notice (#7730)
  packages/calcite-components/.storybook/main.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: remove commented-out Tailwind directive (#7742)
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
Owners: @esri/calcite-components-reviewers

chore: disable eslint rule "jsdoc/require-returns-type" (#7747)
  packages/calcite-components/.eslintrc.cjs
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: add "xsmall" to custom spelling dictionary (#7746)
  support/dictionaries/dict-calcite-design-system.txt
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(alert): skip unstable accessible test (#7749)
  packages/calcite-components/src/components/alert/alert.e2e.ts
Owners: @esri/calcite-components-reviewers

feat(input-time-zone): add max-items support (#7705)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Owners: @esri/calcite-components-reviewers

docs(action, action-pad): update usage and action's `tooltip` slot (#7750)
  packages/calcite-components/src/components/action-pad/usage/Tooltip.md
  packages/calcite-components/src/components/action/action.tsx
Owners: @esri/calcite-components-reviewers

fix(dropdown): support dispatching enter key event on dropdown trigger (#7752)
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Owners: @esri/calcite-components-reviewers

chore: add util to generate breakpoint stories (#7743)
  packages/calcite-components/.storybook/utils.tsx
  packages/calcite-components/src/utils/responsive.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

ci(eslint): disable jsdoc/require-property-type (#7756)
  packages/calcite-components/.eslintrc.cjs
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(tailwind): add missing spacing util for responsive design updates (#7758)
  packages/calcite-components/calcite-preset.ts
Owners: @esri/calcite-components-reviewers

docs(block, button, checkbox, combobox): update component use (#7762)
  packages/calcite-components/src/components/block/usage/Always-open.md
  packages/calcite-components/src/components/block/usage/Collapsible.md
  packages/calcite-components/src/components/block/usage/Header-with-control.md
  packages/calcite-components/src/components/block/usage/Header-with-icon.md
  packages/calcite-components/src/components/button/usage/Within-form.md
  packages/calcite-components/src/components/checkbox/usage/Hovered-with-calcite-label.md
  packages/calcite-components/src/components/checkbox/usage/Indeterminate-with-native-label.md
  packages/calcite-components/src/components/chip-group/usage/Basic.md
  packages/calcite-components/src/components/chip-group/usage/SinglePersist.md
  packages/calcite-components/src/components/combobox/usage/SinglePersist.md
Owners: @esri/calcite-components-reviewers

feat(pagination): enable responsive layout (#7722)
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
  packages/calcite-components/src/demos/pagination.html
  packages/calcite-components/src/utils/responsive.ts
Owners: @esri/calcite-components-reviewers

chore: add @esri/eslint-plugin-calcite-components to issue templates (#7766)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(tab-nav): update indicator position when tab icon changes (#7768)
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Owners: @esri/calcite-components-reviewers

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem
