Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

fix(input, input-number, input-text, text-area): ensure all applicable props are considered in form validation (#8655)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/input.spec.ts
  packages/calcite-components/src/components/input/common/input.ts
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Owners: @esri/calcite-components-reviewers

feat(table): Add `interactionMode` property to control focus behavior (#8686)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/interfaces.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Owners: @esri/calcite-components-reviewers

chore: improve doc for createBreakpointStories helper (#8739)
  packages/calcite-components/.storybook/utils.tsx
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(input): tidy up input spec test (#8733)
  packages/calcite-components/src/components/input/common/input.spec.ts
Owners: @esri/calcite-components-reviewers

revert: fix(panel, flow-item): remove overflow rule (#8711)
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
Owners: @esri/calcite-components-reviewers

feat(stepper): add horizontal-single layout (#8742)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper-item/readme.md
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/interfaces.ts
  packages/calcite-components/src/components/stepper/readme.md
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/demos/stepper.html
Owners: @esri/calcite-components-reviewers

fix: fix styling when dragging items on a mobile device (#8750)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

fix: prevent interaction when component is disabled after initialization (Firefox) (#8746)
  packages/calcite-components/src/utils/interactive.spec.ts
  packages/calcite-components/src/utils/interactive.tsx
Owners: @esri/calcite-components-reviewers

build(deps): update dependency @esri/calcite-ui-icons to v3.26.4 (#8752)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix: fix dragging items on a mobile device (#8751)
  package-lock.json
  package.json
  packages/calcite-components/package.json
  patches/sortablejs+1.15.1.patch
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

feat(table): Improve accessibility of interaction-mode: static Table (#8754)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Owners: @esri/calcite-components-reviewers

build(deps): update dependency @floating-ui/dom to v1.6.3 (#8759)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(stepper): no longer adds default `min-width` for items when `layout='horizontal'` (#8758)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Owners: @esri/calcite-components-reviewers

chore: release main (#8706)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(changelog): fix synced version group name (#8762)
  release-please-config.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix: ensure ui-icons are copied from correct path (#8761)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/link/link.stories.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

docs(changelog): specify components group name (#8765)
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix: prevent package patching on install (#8766)
  package-lock.json
  package.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release main (#8764)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

style(stepper,stepper-item): lint code (#8760)
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.tsx
Owners: @esri/calcite-components-reviewers

fix(table): Ensure border are correctly applied with complex rowSpan (#8779)
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/demos/table.html
Owners: @esri/calcite-components-reviewers

fix(combobox): long text truncates on single and single-persist modes (#8731)
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Owners: @esri/calcite-components-reviewers

docs(input-number): deprecate `minLength`/`maxLength` props as they have no effect (#8734)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Owners: @esri/calcite-components-reviewers

fix: only show validation message when status='invalid' (#8649)
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Owners: @esri/calcite-components-reviewers

feat(tile-group): add Tile Group component (#8806)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/interfaces.ts
  packages/calcite-components/src/components/tile-group/readme.md
  packages/calcite-components/src/components/tile-group/resources.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.scss
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
  packages/calcite-components/src/index.html
Owners: @esri/calcite-components-reviewers

ci(e2e): manually setup chrome to fix puppeteer errrors (#8819)
  .github/workflows/pr-e2e.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(pr-e2e): add workflow_dispatch option for e2e tests (#8814)
  .github/workflows/pr-e2e.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

test(shell-center-row): fix test (#8815)
  packages/calcite-components/src/components/shell-center-row/shell-center-row.e2e.ts
Owners: @esri/calcite-components-reviewers

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem
