Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

test(action-menu): skip close on blur test. (#8585)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
Owners: @esri/calcite-components-reviewers

docs: improve consistency for component prop descriptions (#8580)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tree/tree.tsx
Owners: @esri/calcite-components-reviewers

feat: reflect validationIcon property (#8583)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Owners: @esri/calcite-components-reviewers

feat(handle, block, list-item): improve drag handle tooltip to include item label (#8584)
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_en.json
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/resources.ts
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

feat(tile): add visual scales (#8496)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
  packages/calcite-components/src/index.html
Owners: @esri/calcite-components-reviewers

fix(input-message): add missing margin to scale="s", spacing CSS variable has effect (#8592)
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-message/input-message.scss
Owners: @esri/calcite-components-reviewers

chore(inline-editable): add missing scale to slotted inputs in demo page (#8600)
  packages/calcite-components/src/demos/inline-editable.html
Owners: @esri/calcite-components-reviewers

docs: update component READMEs (#8588)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/fab/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/meter/readme.md
  packages/calcite-components/src/components/radio-button/readme.md
  packages/calcite-components/src/components/rating/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/select/readme.md
  packages/calcite-components/src/components/shell-panel/readme.md
  packages/calcite-components/src/components/slider/readme.md
  packages/calcite-components/src/components/switch/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tree/readme.md
Owners: @esri/calcite-components-reviewers

fix(text-area): prevent infinite render loop when `max-length` property is defined (#8610)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Owners: @esri/calcite-components-reviewers

feat(radio-button-group, segmented control): add validationMessage, validationIcon, and status properties (#8561)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.scss
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button-group/resources.ts
  packages/calcite-components/src/components/segmented-control/resources.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/demos/radio-button-group.html
  packages/calcite-components/src/demos/segmented-control.html
Owners: @esri/calcite-components-reviewers

refactor(radio-button): fix query selector (#8590)
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Owners: @esri/calcite-components-reviewers

fix(modal): ensure focus trapping in dynamically created, subsequently opened modals (#8593)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
Owners: @esri/calcite-components-reviewers

feat(list-item): Add tooltip for expanding and collapsing (#8612)
  packages/calcite-components/src/components/list-item/assets/list-item/t9n/messages.json
  packages/calcite-components/src/components/list-item/assets/list-item/t9n/messages_en.json
  packages/calcite-components/src/components/list-item/list-item.tsx
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

fix(combobox): only allow deleting visible chips with the keyboard (#8603)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

feat: use input-message to display validation messages for invalid fields after form submission (#8574)
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/form.html
  packages/calcite-components/src/utils/form.e2e.ts
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-components/tsconfig-base.json
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

chore: release main (#8455)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor: drop `hidden` prop since it is a global attribute (#8591)
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tile/tile.tsx
Owners: @esri/calcite-components-reviewers

fix(list-item): always show hover and pointer styling (#8622)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Owners: @esri/calcite-components-reviewers

fix(action-menu): clicking an action menu item should call click event. (#8627)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Owners: @esri/calcite-components-reviewers

feat(action-bar, action-pad, block, flow-item, panel): add `overlayPositioning` prop for built-in menus (#8633)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/tests/commonTests.ts
Owners: @esri/calcite-components-reviewers

feat(tab): add `--calcite-tab-content-block-padding` to override built-in block-padding (#8629)
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Owners: @esri/calcite-components-reviewers

chore: release main (#8625)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(tile-select): ensure supporting components are auto-defined (#8648)
  packages/calcite-components/src/components/tile-select/tile-select.tsx
Owners: @esri/calcite-components-reviewers

fix(combobox): ensure supporting components are auto-defined (#8657)
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

feat: add `no-dynamic-createelement` rule (#8656)
  packages/calcite-components/.eslintrc.cjs
  packages/eslint-plugin-calcite-components/docs/no-dynamic-createelement.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/src/rules/no-dynamic-createelement.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.wrong.tsx
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(list-item): Do not focus on item cells on focusIn (#8665)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(chip): Prevent rendering internal icon if not necessary. (#8663)
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.tsx
Owners: @esri/calcite-components-reviewers

chore: release main (#8650)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(storybook): lint component readmes after building docs (#8689)
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(renovate): remove rate limiting on esri and stencil deps (#8693)
  .renovaterc.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore(deps): drop unused `form-request-submit-polyfill` (#8701)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: add angular template link to issue templates (#8680)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix: don't override existing validationMessage when displaying after form submission (#8690)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/form.e2e.ts
  packages/calcite-components/src/utils/form.tsx
Owners: @esri/calcite-components-reviewers

fix(combobox): avoid inline-start padding on combobox label when icon is displayed (#8672)
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

fix(preset): add back legacy token for calcite-ui-focus-color (#8694)
  packages/calcite-components/calcite-preset.ts
Owners: @esri/calcite-components-reviewers

fix(color-picker): alpha-channel slider scope updates to reflect current opacity (#8700)
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Owners: @esri/calcite-components-reviewers

fix(list-item): Fix slotted list border styling. (#8712)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Owners: @esri/calcite-components-reviewers

test(combobox): fix form-associated test (#8718)
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

fix(loader): optimize animation performance (#8714)
  packages/calcite-components/src/components/loader/loader.scss
Owners: @esri/calcite-components-reviewers

feat(tile): add responsive layout features (#8691)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Owners: @esri/calcite-components-reviewers
