Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

chore: release next
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(angular): rebuild before publishing to fix outdated version in dist (#8178)
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/prepublishBuildForCorrectVersion.sh
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(next): attempt to fix tests by copying steps in passing pr check (#8179)
  .github/workflows/deploy-next.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci: remove old, unused actions (#8180)
  .github/need-info.yml
  .github/scripts/changeMilestone.js
  .github/scripts/closeMilestone.js
  .github/scripts/createMilestone.js
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/create-milestone.yml
  .github/workflows/need-info-verify.yml
  .github/workflows/notify-teams-release_calcite_components.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(input-date-picker): fix date-picker wrapper displaying beyond its bounds (#8172)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
Owners: @esri/calcite-components-reviewers

feat(input, input-date-picker, input-number, input-text, input-time-picker): truncate value and placeholder when input is narrow (#8160)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
Owners: @esri/calcite-components-reviewers

fix(checkbox): make label property public (#8181)
  packages/calcite-components/src/components/checkbox/checkbox.tsx
Owners: @esri/calcite-components-reviewers

style: fix linting violations (#8189)
  packages/calcite-components-react/LICENSE.md
  packages/calcite-components-react/README.md
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/eslint-plugin-calcite-components/LICENSE.md
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/src/configs/index.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-events.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
  readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

refactor(card)!: remove deprecated `deselected` message (#8099)
  packages/calcite-components/src/components/card/assets/card/t9n/messages.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_en.json
  packages/calcite-components/support/generateT9nDocsJSON.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(deps)!: bump Stencil to v4 (#8108)
  package.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchJSXImport.ts
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/icon/utils.spec.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/iconPathDataStub.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  packages/calcite-components/support/patchTreeShaking.ts
  packages/calcite-components/tsconfig-eslint.json
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

build(rc): recreate package-lock.json after fixing merge conflicts
  package-lock.json
  packages/calcite-components-angular/package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release rc
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(angular): chage calcite-components to a dep from peerDep/devDep (#8167)
  packages/calcite-components-angular/projects/component-library/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(angular): remove event detail types patch by exporting them from the entry point (#8177)
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build: downgrade stencil-eslint-core, re-generate package-lock and component types
  package-lock.json
  packages/calcite-components/src/components.d.ts
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

chore: release rc
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(list-item, stack): stretch action-menu and handle when placed inside a list-item or stack. (#8185)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/stack/stack.scss
  packages/calcite-components/src/components/stack/stack.stories.ts
Owners: @esri/calcite-components-reviewers

fix(action): Ensure action content is correctly spaced (#8184)
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/action/resources.ts
  packages/calcite-components/src/demos/action.html
Owners: @esri/calcite-components-reviewers

docs(label, list): update usage examples (#8192)
  packages/calcite-components/src/components/label/usage/Basic.md
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/list/usage/Basic.md
  packages/calcite-components/src/components/list/usage/DragEnabled.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/list/usage/Grouped.md
  packages/calcite-components/src/components/list/usage/MultipleSelections.md
  packages/calcite-components/src/components/list/usage/Nested.md
Owners: @esri/calcite-components-reviewers

feat(list-item): Add content-bottom slot for placing content below the label and description of the component (#8183)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
Owners: @esri/calcite-components-reviewers

chore(design-tokens): delete unnecessary lock file (#8197)
  packages/calcite-design-tokens/package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(list-item, stack): stretch dropdown when placed inside a list-item or stack (#8204)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/stack/stack.scss
  packages/calcite-components/src/components/stack/stack.stories.ts
Owners: @esri/calcite-components-reviewers

fix(list-item): adds border between grouped and ungrouped list-items (#8134)
  packages/calcite-components/calcite-preset.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Owners: @esri/calcite-components-reviewers

test(panel, flow-item): add screenshot tests for overflow (#8028) (#8161)
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Owners: @esri/calcite-components-reviewers

docs: update outdated Web Component conventions link (#8221)
  packages/calcite-components/conventions/README.md
Owners: @esri/calcite-components-reviewers

fix(action): Update transparent action styles (#8194)
  packages/calcite-components/src/components/action/action.scss
Owners: @esri/calcite-components-reviewers

chore: add angular package to issue templates (#8225)
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(input-number): prevents mutating value on blur (#8226)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Owners: @esri/calcite-components-reviewers

revert: feat(alert): make component responsive (#8195)
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
Owners: @esri/calcite-components-reviewers

fix(list-item): fix rendering of open icon. (#8207)
  packages/calcite-components/src/components/list-item/list-item.tsx
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#8218)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release next
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(combobox): limit display of selected items with new selection-display prop (#7912)
  packages/calcite-components/src/components/combobox/assets/combobox/t9n/messages.json
  packages/calcite-components/src/components/combobox/assets/combobox/t9n/messages_en.json
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/demos/combobox.html
  packages/calcite-components/src/utils/dom.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

chore: downgrade packages after reverting 2.0.0-next.0 change (#8237)
  package-lock.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(combobox): fix linting errors (#8235)
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

chore: downgrade eslint plugin after reverting breaking change (#8238)
  package-lock.json
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: release main (#8092)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(input): prevents mutating value on `blur` when `type="number"` (#8245)
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Owners: @esri/calcite-components-reviewers

fix(list-item): an item with an empty slotted list should be openable. (#8240)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.stories.ts
Owners: @esri/calcite-components-reviewers

fix: dragging floating ui components (#8230)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Owners: @esri/calcite-components-reviewers
