Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem

fix(stepper): improves AT Users experience with screen readers (#7691)
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
  packages/calcite-components/src/components/stepper-item/resources.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_en.json
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
  t9nmanifest.txt
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

feat(action-group): add css custom properties to define gap and padding when layout is "grid" (#7763)
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Owners: @esri/calcite-components-reviewers

fix(select): allow setting an option value to an empty string (#7769)
  packages/calcite-components/src/components/option/option.e2e.ts
  packages/calcite-components/src/components/option/option.tsx
  packages/calcite-components/src/components/select/select.e2e.ts
Owners: @esri/calcite-components-reviewers

test(commonTests, alert, combobox, dropdown, input-date-picker, modal, popover, tooltip): extracts a general test utility `OpenClose` for all components implementing `openCloseComponent` util (#7379)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/resources.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Owners: @esri/calcite-components-reviewers

style: run lint script (#7774)
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/table/readme.md
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Owners: @esri/calcite-components-reviewers

test: increase screenshot test delays. (#7772)
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Owners: @esri/calcite-components-reviewers

fix(alert): regression fix to restore `calciteAlertBeforeOpen` and `calciteAlertOpen` event emitting (#7767)
  packages/calcite-components/src/components/alert/alert.tsx
Owners: @esri/calcite-components-reviewers

feat(checkbox): add WCAG AA recommended minimum 24px square hotspot optimized for touch users (#7773)
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.scss
Owners: @esri/calcite-components-reviewers

docs: updates d thru i component usage examples (#7865)
  packages/calcite-components/src/components/date-picker/usage/Range.md
  packages/calcite-components/src/components/dropdown/usage/Basic.md
  packages/calcite-components/src/components/dropdown/usage/Disabling-close-on-select.md
  packages/calcite-components/src/components/dropdown/usage/Groups.md
  packages/calcite-components/src/components/fab/usage/Loading-and-disabled.md
  packages/calcite-components/src/components/fab/usage/Styling.md
  packages/calcite-components/src/components/fab/usage/With-text.md
  packages/calcite-components/src/components/flow/usage/Basic.md
  packages/calcite-components/src/components/flow/usage/Menu-actions-and-footer-actions.md
  packages/calcite-components/src/components/icon/usage/Custom-icon-color.md
  packages/calcite-components/src/components/inline-editable/usage/Basic.md
  packages/calcite-components/src/components/inline-editable/usage/With-label.md
  packages/calcite-components/src/components/inline-editable/usage/With-save-and-cancel-controls.md
  packages/calcite-components/src/components/input-date-picker/usage/Basic.md
  packages/calcite-components/src/components/input-date-picker/usage/Range.md
  packages/calcite-components/src/components/input-message/usage/Basic.md
  packages/calcite-components/src/components/input-number/usage/Basic.md
  packages/calcite-components/src/components/input-number/usage/Integer.md
  packages/calcite-components/src/components/input-text/usage/Basic.md
  packages/calcite-components/src/components/input/usage/Basic.md
  packages/calcite-components/src/components/input/usage/Clearable.md
  packages/calcite-components/src/components/input/usage/Native-events.md
  packages/calcite-components/src/components/input/usage/With-message.md
Owners: @esri/calcite-components-reviewers

docs(contributing): add context to prep for hacktoberfest contributions (#7868)
  CONTRIBUTING.md
Owners: @esri/calcite-components-reviewers

feat(flow, flow-item): Allow calciteFlowItemBack event to be cancelled (#7855)
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Owners: @esri/calcite-components-reviewers

build: bump node to v18 (#7871)
  package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(block, input-time-picker, notice): adds `open`, `close`, `beforeOpen`, and `beforeClose` events for consistent event handling (#7494)
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Owners: @esri/calcite-components-reviewers

ci(chromatic): fix node v18 SSL issue and remove dependabot/markdown skip conditions (#7876)
  .github/workflows/chromatic.yml
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(action-bar): Improve overflowing horizontal actions. (#7877)
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/utils.ts
Owners: @esri/calcite-components-reviewers

feat(action-menu): Add appearance property to configure trigger appearance (#7867)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Owners: @esri/calcite-components-reviewers

fix(action-bar): overflow actions when overflowActionsDisabled is set to false (#7873)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Owners: @esri/calcite-components-reviewers

feat(list): add newIndex and oldIndex event details to calciteListOrderChange event (#7874)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

build(node): bump npm version and pin node types to v18 (#7880)
  .renovaterc.json
  package-lock.json
  package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(dropdown-group): set selectionMode on slotted dropdown-item children (#7897)
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
Owners: @esri/calcite-components-reviewers

feat(alert): make component responsive (#7755)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/resources.ts
Owners: @esri/calcite-components-reviewers

fix(tree): update tree selection per design spec (#7852)
  packages/calcite-components/src/components/tree-item/interfaces.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/components/tree/tree.tsx
Owners: @esri/calcite-components-reviewers

fix(tree): fix tree keyboard selection issue (#7908)
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
Owners: @esri/calcite-components-reviewers

fix(button): provides context for AT users when used as reference element for collapsible content (#7658)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/utils/globalAttributes.ts
Owners: @esri/calcite-components-reviewers

fix(action-menu): update active selection to not use the action's active property (#7911)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-menu/resources.ts
Owners: @esri/calcite-components-reviewers

fix(table): Fix selection display in RTL (#7907)
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table/table.stories.ts
Owners: @esri/calcite-components-reviewers

chore(tab-nav): adds base message bundles (#7914)
  packages/calcite-components/src/components/tab-nav/assets/tab-nav/t9n/messages.json
  packages/calcite-components/src/components/tab-nav/assets/tab-nav/t9n/messages_en.json
  t9nmanifest.txt
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

chore(stepper): add message bundles for responsive layout (#7918)
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci: the current milestone ends after release day (#7922)
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(input-date-picker, input-time-picker): add status property (#7915)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Owners: @esri/calcite-components-reviewers

chore: add npm script for restoring changes to component readmes (#7916)
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(input-time-zone): add time zone offset and name mode (#7913)
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/interfaces.d.ts
  packages/calcite-components/src/components/input-time-zone/usage/Basic.md
  packages/calcite-components/src/components/input-time-zone/usage/TimeZoneNames.md
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/demos/input-time-zone.html
Owners: @benelan, @jcfranco, @driskull, @geospatialem, @esri/calcite-components-reviewers

chore: release main (#7718)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

build(deps): bump timezone-groups (#7933)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

chore: update issue template labels to support workflows (#7938)
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/test.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(panel): fix collapse action title and reverse icon direction (#7927)
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Owners: @esri/calcite-components-reviewers

test(flow-item, panel): add tests for internal property. (#7931)
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Owners: @esri/calcite-components-reviewers

chore(deps): update calcite-ui-icons to 3.24.7 (#7949)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(combobox): fix issue causing value to be cleared when selecting an item (Windows + trackpad) (#7954)
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

fix(input-time-zone): fix handling of unknown and cityless time zones from offset display mode (#7947)
  packages/calcite-components/src/components/input-time-zone/utils.ts
Owners: @esri/calcite-components-reviewers
