Repository walid22eu/calcite-design-system, changes with the owners that CODEOWNERS names for each.
All owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

refactor(combobox-item): drop unused variable (#7587)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Owners: @esri/calcite-components-reviewers

ci: add action to limit pull requests during maintenance releases (#7556)
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
Owners: @benelan, @jcfranco, @driskull, @geospatialem

refactor(dropdown, dropdown-item-group, dropdown-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7582)
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-group/resources.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Owners: @esri/calcite-components-reviewers

fix(loader): tweak loading animations to work in Safari (#7564)
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/demos/loader.html
Owners: @esri/calcite-components-reviewers

refactor(segmented-control, segmented-control-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7592)
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Owners: @esri/calcite-components-reviewers

test(list): Use the dragAndDrop utility for mouse tests (#7604)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Owners: @esri/calcite-components-reviewers

fix(flow): catch error when beforeBack promise is rejected (#7601)
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Owners: @esri/calcite-components-reviewers

fix(modal): catch error when beforeClose promise is rejected (#7600)
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
Owners: @esri/calcite-components-reviewers

feat(combobox): add single-persist selection mode (#7583)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/utils.ts
  packages/calcite-components/src/demos/combobox.html
Owners: @esri/calcite-components-reviewers

fix(tree-item): updates state when selection changes programmatically for `selection-mode='ancestors'` (#7572)
  packages/calcite-components/src/components/tree-item/interfaces.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Owners: @esri/calcite-components-reviewers

fix(rating): adds focus outline on click (#7341)
  packages/calcite-components/src/components/rating/interfaces.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/components/rating/rating.tsx
Owners: @esri/calcite-components-reviewers

feat(sheet): Add Sheet component (#7561)
  packages/calcite-components/src/components/sheet/interfaces.ts
  packages/calcite-components/src/components/sheet/readme.md
  packages/calcite-components/src/components/sheet/resources.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/sheet/usage/Basic.md
  packages/calcite-components/src/components/sheet/usage/Open.md
  packages/calcite-components/src/components/sheet/usage/Panel.md
  packages/calcite-components/src/components/sheet/usage/Reacting-before-close.md
  packages/calcite-components/src/demos/sheet.html
  packages/calcite-components/src/index.html
  packages/calcite-components/stencil.config.ts
Owners: @esri/calcite-components-reviewers

feat(shell): Add "Sheets" Slot (#7579)
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/shell/shell.tsx
  packages/calcite-components/src/demos/shell/basic-slotted-elements.html
Owners: @esri/calcite-components-reviewers

build: update browserslist db (#7610)
  package-lock.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(tree): improve keyboard navigation (#7618)
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/tree/utils.ts
Owners: @esri/calcite-components-reviewers

feat(sheet): Update default widths (#7617)
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
Owners: @esri/calcite-components-reviewers

docs(accordion-item): update component description for vscode (#7611)
  packages/calcite-components/src/components/accordion-item/readme.md
Owners: @esri/calcite-components-reviewers

docs: add homepage to npm packages (#7628)
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

docs(shell): update sheets slot position (#7629)
  packages/calcite-components/src/components/shell/shell.tsx
Owners: @esri/calcite-components-reviewers

feat(input-time-picker): support fractional seconds (#7532)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-picker/usage/Basic.md
  packages/calcite-components/src/components/input-time-picker/usage/Fractional-seconds.md
  packages/calcite-components/src/components/time-picker/assets/time-picker/t9n/messages.json
  packages/calcite-components/src/components/time-picker/assets/time-picker/t9n/messages_en.json
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.stories.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/utils/math.spec.ts
  packages/calcite-components/src/utils/math.ts
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Owners: @esri/calcite-components-reviewers, @benelan, @jcfranco, @driskull, @geospatialem

feat(input-date-picker): normalize year to current century (#7622)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/util.spec.ts
  packages/calcite-components/src/components/input-date-picker/utils.ts
  packages/calcite-components/src/utils/date.spec.ts
  packages/calcite-components/src/utils/date.ts
Owners: @esri/calcite-components-reviewers

chore(deps): update calcite-ui-icons to 3.24.1 (#7637)
  package-lock.json
  packages/calcite-components/package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(list): Stop emitting calciteListChange when a list-item is disabled or closed. (#7624)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Owners: @esri/calcite-components-reviewers

fix(combobox): prevent deselecting items via keyboard in single-persist mode (#7634)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Owners: @esri/calcite-components-reviewers

docs(table): Update usage (#7640)
  packages/calcite-components/src/components/table/usage/Basic.md
Owners: @esri/calcite-components-reviewers

fix: make sure components are defined in environments like in codesandbox (#7632)
  packages/calcite-components-react/src/auto-define.ts
Owners: @benelan, @jcfranco, @driskull, @geospatialem

feat(input-date-picker): normalize year to current century for user typed values only (#7638)
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Owners: @esri/calcite-components-reviewers

docs(contributing): update the commit message format example URL (#7641)
  CONTRIBUTING.md
Owners: @esri/calcite-components-reviewers

refactor(stepper, stepper-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent (#7593)
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Owners: @esri/calcite-components-reviewers

fix(accordion, accordion-item): improve a11y (#7560)
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
Owners: @esri/calcite-components-reviewers

feat(input-number): add integer property (#7646)
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Owners: @esri/calcite-components-reviewers

fix(list, sortable-list, value-list): Emit calciteListOrderChange when dragging between lists (#7614)
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

feat(flow): add support for custom flow-item elements (#7608)
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
  packages/calcite-components/src/components/flow/interfaces.ts
  packages/calcite-components/src/demos/flow.html
Owners: @esri/calcite-components-reviewers

fix(input, input-number): correctly sanitize numbers when pasting string with 'e' (#7648)
  packages/calcite-components/src/utils/number.spec.ts
  packages/calcite-components/src/utils/number.ts
Owners: @esri/calcite-components-reviewers

fix: add drag styles for improved UX (#7644)
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/utils/sortableComponent.ts
Owners: @esri/calcite-components-reviewers

fix(block, block-section): improve a11y (#7557)
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block-section/resources.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Owners: @esri/calcite-components-reviewers

chore: release main (#7571)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Owners: @benelan, @jcfranco, @driskull, @geospatialem

fix(block): provide textual name on collapse and expansion to AT (#7652)
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Owners: @esri/calcite-components-reviewers

ci: make sure to exit on maitenance milestone failure (#7656)
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
Owners: @benelan, @jcfranco, @driskull, @geospatialem

ci(turbo): stop grouping logs in github actions (#7649)
  package.json
Owners: @benelan, @jcfranco, @driskull, @geospatialem

CODEOWNERS:

# These owners will be the default owners for everything in the repo.
*                                          @esri/calcite-components-reviewers

# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco @driskull @geospatialem
*.json                                     @benelan @jcfranco @driskull @geospatialem
CHANGELOG.md                               @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components/readme.md     @benelan @jcfranco @driskull @geospatialem
.github/                                   @benelan @jcfranco @driskull @geospatialem
support/                                   @benelan @jcfranco @driskull @geospatialem
/packages/calcite-components-react         @benelan @jcfranco @driskull @geospatialem
/packages/eslint-plugin-calcite-components @benelan @jcfranco @driskull @geospatialem
